# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.log

# Poetry
poetry.lock

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
